html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
.text {
  font-size: 16px;
  color: #fff;
}
.textXL {
  font-size: 20px;
}
.textL {
  font-size: 18px;
}
.textS {
  font-size: 14px;
}
.textXS {
  font-size: 12px;
}
.textDark {
  color: #323b54;
}
.textGray {
  color: #a5a5a5;
}
.textGreen {
  color: #1b987d;
}
.btn {
  display: inline-block;
  padding: 0 40px;
  line-height: 2.5;
  border-radius: 40px;
  color: #323b54;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.btn-Y {
  background-color: #ffd424;
  border-bottom: 4px solid #f7b42e;
}
.btn-B {
  background-color: #5ac8d8;
  border-bottom: 4px solid #23adc1;
}
.btn-R {
  background-color: #ff97a3;
  border-bottom: 4px solid #fe6073;
}
.btn-G {
  background-color: #ddd;
  border-bottom: 4px solid #a5a5a5;
}
.btnS {
  display: inline-block;
  padding: 5px 15px;
  line-height: 1;
  border-radius: 40px;
  color: #323b54;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  border-width: 2px;
}
.btn-W {
  color: #fff;
  border: 1px solid #fff;
}
.btn2 {
  display: inline-block;
  padding: 0 15px;
  line-height: 1.8;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #fff;
}
.btn2.active {
  background-color: #ffd424;
  border-color: #ffd424;
  color: #323b54;
}
html,
body {
  height: 100%;
}
body .outer {
  width: 100%;
  min-height: 100%;
  max-width: 425px;
  margin: 0 auto;
  background-color: #1b987d;
}
body .outer.BGimg {
  background-image: url(../img/comic.png);
  background-position: center calc(100% - 20px);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .outer .title {
  padding: 20px 0;
  text-align: center;
}
body .outer .inner {
  display: none;
}
body .outer .inner.active {
  display: block;
}
body .outer .inner.terms .warning {
  color: #ffd424;
  display: none;
}
body .outer .inner.terms .termsInner {
  background-color: #f8f8f8;
  padding: 20px;
  height: 300px;
  overflow: auto;
}
body .outer .inner.terms .confirm {
  padding: 20px;
  text-align: center;
}
body .outer .inner.terms .confirm label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
body .outer .inner.terms .confirm .btn {
  margin: 15px 0 5px;
}
body .outer .inner.bind {
  padding: 20px 20px 150px;
  text-align: center;
}
body .outer .inner.bind .socalledChoose {
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    width: 240px;
    border-radius: 50px;
    border: 1px solid #fff;
  }
  body .outer .inner.bind .socalledChoose img {
    display: inline-block;
    vertical-align: middle;
    width: 23.8px;
    margin-right: 14px;
  }
  body .outer .inner.bind .socalledBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  body .outer .inner.bind .socalledBox.active {
    display: block;
  }
  body .outer .inner.bind .socalledBox:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  body .outer .inner.bind .socalledBox .socalledInner {
    background-color: white;
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 80px;
    border-radius: 5px;
  }
  body .outer .inner.bind .socalledBox .socalledInner .text {
    cursor: pointer;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  body .outer .inner.bind .socalledBox .socalledInner .text:last-child {
    border-bottom: none;
  }
body .outer .inner.bind input {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #323b54;
}
body .outer .inner.bind .btn {
  margin: 20px 0;
}
body .outer .inner.bind img {
  width: 100%;
  max-width: 100%;
}
body .outer .inner.addKids {
  padding: 20px 20px 150px;
  text-align: center;
}
body .outer .inner.addKids .schoolChoose {
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  width: 240px;
  border-radius: 50px;
  border: 1px solid #fff;
}
body .outer .inner.addKids .schoolChoose img {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  margin-right: 10px;
}
body .outer .inner.addKids .schoolBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
body .outer .inner.addKids .schoolBox.active {
  display: block;
}
body .outer .inner.addKids .schoolBox:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
body .outer .inner.addKids .schoolBox .schoolInner {
  background-color: white;
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 80px;
  border-radius: 5px;
}
body .outer .inner.addKids .schoolBox .schoolInner .text {
  cursor: pointer;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
body .outer .inner.addKids .schoolBox .schoolInner .text:last-child {
  border-bottom: none;
}
body .outer .inner.addKids .card {
  width: 150px;
  display: block;
  margin: 0 auto;
}
body .outer .inner.addKids input {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #323b54;
}
body .outer .inner.addKids .add {
  display: block;
  margin: 20px auto;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
body .outer .inner.addKids .add img {
  width: 100%;
}
body .outer .inner.diary.detailMode .kidBox {
  padding: 15px 10px 15px 70px;
}
body .outer .inner.diary.detailMode .kidBox .backBtn {
  display: inline-block;
}
body .outer .inner.diary.detailMode .calenderBottom .detailBox {
  display: block;
}
body .outer .inner.diary .kidBox {
  position: relative;
  padding: 15px 10px;
  background-color: #157560;
}
body .outer .inner.diary .kidBox .backBtn {
  background-color: #0b866b;
  position: absolute;
  display: none;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  top: 0;
  left: 0;
  padding: 15px;
}
body .outer .inner.diary .kidBox .backBtn img {
  width: 30px;
}
body .outer .inner.diary .calendarBox {
  background-color: #f8f8f8;
}
body .outer .inner.diary .calendarBox .calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 5px;
  box-sizing: border-box;
}
body .outer .inner.diary .calendarBox .calendar .title {
  position: relative;
  margin-bottom: 10px;
}
body .outer .inner.diary .calendarBox .calendar .title .dateTitle {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
body .outer .inner.diary .calendarBox .calendar .title .dateTitle span {
  display: inline-block;
  margin: 0 5px;
}
body .outer .inner.diary .calendarBox .calendar .title .calenderBtn {
  display: inline-block;
  position: absolute;
  top: 19px;
  width: 12px;
  text-align: center;
  line-height: 30px;
}
body .outer .inner.diary .calendarBox .calendar .title .calenderBtn img {
  width: 100%;
}
body .outer .inner.diary .calendarBox .calendar .title .calenderBtn.prev {
  left: 17px;
}
body .outer .inner.diary .calendarBox .calendar .title .calenderBtn.next {
  right: 17px;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul {
  width: 100%;
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li {
  position: relative;
  width: 14.28%;
  height: 36px;
  line-height: 36px;
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li .text {
  display: inline-block;
  line-height: 1.5;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  position: relative;
  font-weight: 400;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li .text.today {
  border: 1px solid #fd566a;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text.arrive
  .num {
  background-color: #ffd424;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text.leave
  .num {
  background-color: #ddd;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text.consume
  .otherBox
  .otherCircle.consume {
  display: inline-block;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text.recycle
  .otherBox
  .otherCircle.recycle {
  display: inline-block;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li .text:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li .text .num {
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text
  .otherBox {
  position: absolute;
  bottom: -5px;
  width: 100%;
  left: 0;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text
  .otherBox
  .otherCircle {
  display: none;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text
  .otherBox
  .otherCircle.consume {
  background-color: #5ac8d8;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li
  .text
  .otherBox
  .otherCircle.recycle {
  background-color: #fd566a;
}
body .outer .inner.diary .calendarBox .calendar .body-list ul li:nth-child(7n),
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li:nth-child(7n + 1) {
  color: #fd566a;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li:nth-child(7n)
  .text,
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li:nth-child(7n + 1)
  .text {
  color: #fd566a;
}
body
  .outer
  .inner.diary
  .calendarBox
  .calendar
  .body-list
  ul
  li.disabled
  .text {
  color: #ddd;
}
body .outer .inner.diary .calenderBottom {
  position: relative;
  background-color: #1b987d;
}
body .outer .inner.diary .calenderBottom.active {
  min-height: 190px;
}
body .outer .inner.diary .calenderBottom .infoBox {
  background-color: #f8f8f8;
  padding: 0 5px 10px;
}
body .outer .inner.diary .calenderBottom .infoBox .hr {
  margin-bottom: 10px;
  border-bottom: 2px dashed #1b987d;
}
body .outer .inner.diary .calenderBottom .infoBox .info {
  margin: 0 5px;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon {
  display: inline-block;
  margin-right: 6px;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon .circle {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: transparent;
  width: 13px;
  height: 13px;
  border-radius: 100%;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon.icon1 .circle {
  border-color: #fd566a;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon.icon2 .circle {
  background-color: #ffd424;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon.icon3 .circle {
  background-color: #ddd;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon.icon4 .circle {
  background-color: #5ac8d8;
}
body .outer .inner.diary .calenderBottom .infoBox .info .icon.icon5 .circle {
  background-color: #fd566a;
}
body .outer .inner.diary .calenderBottom .detailBox {
  display: none;
  position: relative;
  padding: 10px 10px 10px 80px;
}
body .outer .inner.diary .calenderBottom .detailBox .dateBox {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
}
body .outer .inner.diary .calenderBottom .detailBox .dateBox .top {
  width: 60px;
  height: 40px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 5px 5px 0 0;
}
body .outer .inner.diary .calenderBottom .detailBox .dateBox .top .text {
  margin: 2px 0 0;
}
body .outer .inner.diary .calenderBottom .detailBox .dateBox .bottom {
  width: 60px;
  height: 22px;
  background-color: #000;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}
body .outer .inner.diary .calenderBottom .detailBox .detail {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-left: 3px solid transparent;
  background-color: #f8f8f8;
  padding-left: 10px;
  margin-bottom: 8px;
}
body .outer .inner.diary .calenderBottom .detailBox .detail:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
body .outer .inner.diary .calenderBottom .detailBox .detail .text {
  display: inline-block;
  vertical-align: middle;
}
body .outer .inner.diary .calenderBottom .detailBox .detail.arrive {
  border-color: #ffd424;
}
body .outer .inner.diary .calenderBottom .detailBox .detail.leave {
  border-color: #ddd;
}
body .outer .inner.diary .calenderBottom .detailBox .detail.consume {
  border-color: #5ac8d8;
}
body .outer .inner.diary .calenderBottom .detailBox .detail.recycle {
  border-color: #fd566a;
}
body .outer .inner.studentList .title {
  border-bottom: 1px solid #fff;
}
body .outer .inner.studentList .studentBox {
  padding: 0 20px;
}
body .outer .inner.studentList .studentBox .student {
  position: relative;
  padding: 20px 70px 20px 0;
  border-bottom: 2px dashed #fff;
  min-height: 120px;
}
body .outer .inner.studentList .studentBox .student .info p {
  line-height: 1.5;
}
body .outer .inner.studentList .studentBox .student .info .name {
  font-weight: bold;
}
body .outer .inner.studentList .studentBox .student .info .cardNumBox {
  font-size: 0;
  line-height: 0;
}
body .outer .inner.studentList .studentBox .student .info .cardNumBox .cardNum {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  line-height: 1.5;
}
body .outer .inner.studentList .studentBox .student .info .cardNumBox .numBox {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 42px);
  line-height: 1.5;
}
body
  .outer
  .inner.studentList
  .studentBox
  .student
  .info
  .cardNumBox
  .numBox
  .num {
  display: block;
}
body
  .outer
  .inner.studentList
  .studentBox
  .student
  .info
  .cardNumBox
  .numBox
  .num.numDel {
  text-decoration: line-through;
  color: #a5a5a5;
}
body .outer .inner.studentList .studentBox .student .btnBox {
  position: absolute;
  top: 20px;
  right: 0;
  width: 60px;
}
body .outer .inner.studentList .studentBox .student .btnBox .btnS {
  margin-bottom: 5px;
}
body .outer .inner.studentList .addBox {
  padding-bottom: 150px;
  text-align: center;
}
body .outer .inner.studentList .addBox .add {
  display: block;
  margin: 20px auto;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
body .outer .inner.studentList .addBox .add img {
  width: 100%;
}
body .outer .inner.studentList .delBox {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body .outer .inner.studentList .delBox .content {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
}
body .outer .inner.studentList .delBox .content .top {
  background-color: #fd566a;
  padding: 10px;
}
body .outer .inner.studentList .delBox .content .bottom {
  background-color: #f8f8f8;
  padding: 10px;
}
body .outer .inner.studentList .delBox .content .bottom .text {
  line-height: 1.5;
}
body .outer .inner.studentList .delBox .content .bottom .btnBox {
  text-align: center;
  margin-top: 10px;
}
body .outer .inner.studentList .delBox .content .bottom .btnBox .btnS {
  padding: 5px 25px;
  margin: 0 10px;
}
body .outer .inner.daily .kidBox {
  text-align: center;
}
body .outer .inner.daily .kidBox .backBtn {
  display: inline-block;
}
body .outer .inner.daily .kidBox .text {
  line-height: 30px;
}
body .outer .inner.daily .calendarBox .calendar .body-list ul li .text.choose {
  border: 1px solid #1b987d;
}
body .outer .inner.daily .calenderBottom.active {
  min-height: auto;
}
body .outer .inner.daily .calenderBottom.active .detailBox {
  display: block;
}
body .outer .inner.daily .calenderBottom .infoBox .info .icon {
  display: none;
}
body .outer .inner.daily .calenderBottom .infoBox .info .icon.active {
  display: inline-block;
}
body .outer .inner.daily .calenderBottom .infoBox .info .icon.icon6 .circle {
  border-color: #1b987d;
}
body .outer .inner.daily .calenderBottom .detailBox {
  min-height: 70px;
}
body .outer .inner.daily .calenderBottom .detailBox .detail {
  display: none;
}
body .outer .inner.daily .calenderBottom .detailBox.type1 .arrive,
body .outer .inner.daily .calenderBottom .detailBox.type1 .leave {
  display: block;
}
body .outer .inner.daily .calenderBottom .detailBox.type2 .consume {
  display: block;
}
body .outer .inner.daily .calenderBottom .detailBox.type3 .recycle {
  display: block;
}
body .outer .inner.map .mapBox {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
}
body .outer .inner.map .tabBox .tabTitle {
  font-size: 0;
}
body .outer .inner.map .tabBox .tabTitle .text {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: center;
  line-height: 2.5;
  color: #1b987d;
  background-color: #157560;
  border-top: 4px solid transparent;
}
body .outer .inner.map .tabBox .tabTitle .text.active {
  border-top: 4px solid #ffd424;
  color: #fff;
  background-color: #1b987d;
}
body .outer .inner.map .tabBox .tabInner {
  display: none;
  font-size: 0;
  padding: 10px 15px;
}
body .outer .inner.map .tabBox .tabInner.active {
  display: block;
}
body .outer .inner.map .tabBox .tabInner .machine {
  display: inline-block;
  width: calc(50% - 5px);
  box-sizing: border-box;
  border-left: 4px solid transparent;
  background-color: #f8f8f8;
  padding: 5px 5px 5px 10px;
  margin-bottom: 10px;
}
body .outer .inner.map .tabBox .tabInner .machine .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}
body .outer .inner.map .tabBox .tabInner .machine:nth-child(2n-1) {
  margin-right: 5px;
}
body .outer .inner.map .tabBox .tabInner .machine:nth-child(2n) {
  margin-left: 5px;
}
body .outer .inner.map .tabBox .tabInner .machine:nth-child(3n-2) {
  border-color: #ff97a3;
}
body .outer .inner.map .tabBox .tabInner .machine:nth-child(3n-1) {
  border-color: #ffd424;
}
body .outer .inner.map .tabBox .tabInner .machine:nth-child(3n) {
  border-color: #5ac8d8;
}
/*# sourceMappingURL=styles.css.map */
