<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="https://scampus.yunlin.gov.tw/yunlin_line/css/styles.css" />
  </head>
  <body>
    <div class="outer BGimg" id="Student">
      <div class="inner studentList active">
        <p class="title text textL">盈碩國民小學</p>
        <div class="studentBox">
          <div class="student">
            <div class="info">
              <p class="name text textL">丁圓圓</p>
              <p class="text textS">班級：<span>三年二班</span></p>
              <p class="text textS">學號：<span>109001</span></p>
              <p class="cardNumBox">
                <span class="text textS cardNum">卡號：</span>
                <span class="numBox text textS ">
                  <span class="num">1234-5678-9012-3456</span>
                </span>
              </p>
            </div>
            <div class="btnBox">
              <a href="javascript:;" class="btnS btn-Y btnAttendence">出勤</a>
              <a href="javascript:;" class="btnS btn-B btnConsume">消費</a>
              <a href="javascript:;" class="btnS btn-R btnRecycle">回收</a>
              <a href="javascript:;" class="btnS btn-G btnDel">移除</a>
            </div>
          </div>
          <div class="student">
            <div class="info">
              <p class="name text textL">丁圓圓</p>
              <p class="text textS">班級：<span>三年二班</span></p>
              <p class="text textS">學號：<span>109001</span></p>
              <p class="cardNumBox">
                <span class="text textS cardNum">卡號：</span>
                <span class="numBox text textS ">
                  <span class="num">1234-5678-9012-3456</span>
                </span>
              </p>
            </div>
            <div class="btnBox">
              <a href="javascript:;" class="btnS btn-Y btnAttendence">出勤</a>
              <a href="javascript:;" class="btnS btn-B btnConsume">消費</a>
              <a href="javascript:;" class="btnS btn-R btnRecycle">回收</a>
              <a href="javascript:;" class="btnS btn-G btnDel">移除</a>
            </div>
          </div>
        </div>
        <div class="addBox">
          <a href="confirm.html#add" class="add"><img src="https://scampus.yunlin.gov.tw/yunlin_line/img/add.png" alt=""></a>
        </div>
        <div class="delBox">
          <div class="content">
            <div class="top">
              <p class="text">確定要移除</p>
            </div>
            <div class="bottom">
              <p class="text textDark">丁圓圓</p>
              <p class="text textDark textS">班級：<span>三年二班</span></p>
              <p class="text textDark textS">卡號：1234567890123456</p>
              <div class="btnBox">
                <a href="javascript:;" class="btnS btn-G btnCancel">取消</a>
                <a href="javascript:;" class="btnS btn-R btnOK">確定</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner diary daily">
        <p class="title text textL">盈碩國民小學</p>
        <div class="kidBox">
          <a href="javascript:;" class="backBtn"><img src="https://scampus.yunlin.gov.tw/yunlin_line/img/back.png" alt=""></a>
          <p class="text">3年2班 丁圓圓</p>
        </div>
        <div class="calendarBox">
          <div class="calendar">
            <div class="title">
              <p class="dateTitle">
                <span
                  class="text textGreen textXL"
                  v-text="calender.year"
                ></span>
                <span class="text textXS textGreen">年</span>
                <span
                  class="text textGreen textXL"
                  v-text="calender.month+1"
                ></span>
                <span class="text textXS textGreen">月</span>
              </p>

              <a
                href="javascript:;"
                class="calenderBtn prev"
                onclick="page.prevMonth();"
              >
                <img src="https://scampus.yunlin.gov.tw/yunlin_line/img/arrowL.png" alt="" />
              </a>
              <a
                href="javascript:;"
                class="calenderBtn next"
                onclick="page.nextMonth();"
              >
                <img src="https://scampus.yunlin.gov.tw/yunlin_line/img/arrowR.png" alt="" />
              </a>
            </div>
            <div class="body">
              <div class="weekBox body-list">
                <ul>
                  <li
                    v-for="(week, idx) in calender.weekStr"
                    v-text="week"
                  ></li>
                </ul>
              </div>
              <div class="dateBox body-list">
                <ul id="days">
                  <li v-for="n in 42" v-bind:class="setDateClass(n-1)">
                    <span
                      class="text textDark"
                      v-bind:class="setTypeClass(n-1)"
                    >
                      <span class="num" v-text="setDate(n-1)"></span>
                      <span class="otherBox">
                        <span class="otherCircle consume"></span>
                        <span class="otherCircle recycle"></span>
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="calenderBottom">
          <div class="infoBox">
            <div class="hr"></div>
            <div class="info">
              <span class="icon icon1"
                ><span class="circle"></span>
                <span class="text textS textDark">今天</span></span
              >
              <span class="icon icon2"
                ><span class="circle"></span>
                <span class="text textS textDark">到校</span></span
              >
              <span class="icon icon3"
                ><span class="circle"></span>
                <span class="text textS textDark">離校</span></span
              >
              <span class="icon icon4"
                ><span class="circle"></span>
                <span class="text textS textDark">消費</span></span
              >
              <span class="icon icon5"
                ><span class="circle"></span>
                <span class="text textS textDark">回收</span></span
              >
              <span class="icon icon6"
                ><span class="circle"></span>
                <span class="text textS textDark">選取</span></span
              >
            </div>
          </div>
          <div class="detailBox">
            <div class="dateBox">
              <div class="top">
                <p class="text textXS textDark">8月</p>
                <p class="text textXL textDark">1</p>
              </div>
              <div class="bottom">
                <p class="text textXS">週五</p>
              </div>
            </div>
            <div class="detail arrive">
              <p class="text textDark">07:20 到校</p>
            </div>
            <div class="detail recycle">
              <p class="text textDark">08:10 回收</p>
            </div>
            <div class="detail consume">
              <p class="text textDark">10:10 消費</p>
            </div>
            <div class="detail leave">
              <p class="text textDark">17:10 離校</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://scampus.yunlin.gov.tw/yunlin_line/js/jquery-1.11.3.min.js"></script>
  <script src="https://scampus.yunlin.gov.tw/yunlin_line/js/vue.min.js"></script>
  <script src="https://scampus.yunlin.gov.tw/yunlin_line/js/script.js"></script>
  <script src="https://scampus.yunlin.gov.tw/yunlin_line/js/sdk.js"></script>

  <script>
    function loadData() {
      $.ajax({
        type: 'POST',
        url: '',
        data: {},
        success: function(response) {
          
        },
        error: function(){
          alert('oops error');
        }
      });
    }
    function openView(type){
      switch (type) {
        case 'Attendence':
          break;
        case 'Consume':
          break;
        case 'Recycle':
          break;
        case 'Delete':
          break;
      }

    }
    function init(){
      window.onload = function (e) {
          liff.init(function (data) {
              $.ajax({
                url: 'https://scampus.yunlin.gov.tw/FRONTAPI/Api/IsRegister',
                //url: 'https://localhost:44330/Api/IsRegister',
                contentType: 'application/json',
                type: 'Post',
                data: JSON.stringify({ 
                LineId: data.context.userId
                }),
                error: function (xhr) {
                    alert('Ajax request 發生錯誤');
                },
                success: function (response) {
                    if(response.code != 1){
                      window.location.replace("https://scampus.yunlin.gov.tw/yunlin_line/confirm.html");
                      //document.location.href  = "https://scampus.yunlin.gov.tw/yunlin_line/confirm.html";
                    }
                },
                complete: function(XMLHttpRequest, textStatus) { 


                },
            });
          });
      };
    }
    init();
  </script>
</html>
